{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Witaj {{request.user|title}} :)</h1>
        <h3 style="margin: 0">  
            {% if count == 0 %}
            Fajrancik!
            {% elif count == 1 %}
            Masz <span class="count_color">{{count}}</span> nie wykonane zadanie</h3>
            {% elif count > 1 and count < 5 %}
            Masz <span class="count_color">{{count}}</span> nie wykonane zadania</h3>
            {% else %}
            Masz <span class="count_color">{{count}}</span> nie wykonanych zadań</h3>
            {% endif %}
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Wyloguj</a>
    {% else %}
    <a href="{% url 'login' %}">Zaloguj</a>
    {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET" style="display: flex;"> 
        <input type="text" name="search-area" value="{{search_input}}">
        <input class="button" style="width: 90px;margin-left: 10px" type="submit" value="Szukaj">
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b; 
        <p>Dodaj</p>
        
    </a>

</div>


<div class="task-zadania-wrapper">

    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.complete %}
            <div class="task-title">
                <div class="task-complete-icon"></div>
                <i><s>
                    <a href="{% url 'task-update' task.id %}">{{task}}</a>
                </s></i>
                
            </div>
            

        <a class="delete-link" href="{% url 'task-delete' task.id %}">
            <p>Usuń</p></a>
        {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'task-update' task.id %}">{{task}}</a>  
            </div>

        <a class="delete-link" href="{% url 'task-delete' task.id %}">
            <p>Usuń</p></a>
        {% endif %}
        
        {% if task.description|length != 0 %}
        <a class="descr" href="{% url 'task-update' task.id %}">
            <button>{{ task.description|slice:":50" }}...</button>
        </a>
        {% endif %}
        
        
    </div>

    {% empty %}
    <div class="card-body">
        <h3 style="color: var(--brown);">Nie masz nic do roboty!</h3>
    </div>
    {% endfor %}
</div>


{% endblock content %}
